<header>
    <nav class="header__nav">
        <a class="header__title" href="/index">MyGames</a>
        <p class="header__userName">Welcome<br> <span class="user__name"><%= userName %></span></p>
        <div class="header__hamburger"> 
            <div class="bar"></div>
        </div>
        <ul class="header__ul">
            <li><a href="/companies">Comapnies</a></li>
            <li><a href="/companies/new">Add Companies</a></li>      
            <li><a href="/games">Games</a></li>
            <li><a href="/games/new">Add Game</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>