      <div class="access">
        <div class="access__innerContainer">
          <h1 class="pageHeader">Register</h1>
          <form class="access__form" action="/register" method="POST">
            <div class="access__form-margin">
                <input type="name" id="name" name="name"  placeholder="NAME" value="a"/>
            </div>
            <div class="access__form-margin">
                <input type="email" id="email" name="email"  placeholder="EMAIL" value="a@gmail"/>
            </div>
            <div class="access__form-margin">
                <input type="password" id="password" name="password"  placeholder="PASSWORD" value="1234aA"/>
            </div>
            <div class="access__form-marginLast">
                <input type="password" id="password2" name="password2" placeholder="CONFIRM PASSWORD" value="1234aA" />
            </div>
            <%- include('../partials/messages_manageAccess') %>
            <button class="btn btn-primary btn__temporal__center btn-focus-black" type="submit">Register</button>
          </form>
          <p class="access__message">Have an account? <a href="/login">Login</a></p>
        </div>
      </div>