<div class="access">
    <div class="access__innerContainer">
        <p class="pageHeader pageHeader-medium">Create an account or login</p>
        <div class="btn-row btn-margin">
            <form action="/register">
                <button type="submit" class="btn btn-primary btn btn-focus-black">Register</button>
            </form>
            <form action="/login">
                <button class="btn btn-primary btn-focus-black">Login</button>
            </form>
        </div>
    </div>
</div>