:root{
    --color-text-danger: hsl(var(--color-danger-hue), 100%, 56%);
}

.error-message {
    text-align: center;
    color: var(--color-text-danger);
    margin-bottom: 15px;
    font-size: 18px;
}

.error-message:last-of-type{
    margin-bottom: 30px;
}