@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/access.css';
@import 'shared/buttons.css';
@import 'shared/access/form.css';
@import 'error-messages.css';
@import 'error-messages-manageAccess.css';
@import 'shared/header.css';
@import 'shared/form.css';
@import 'shared/games.css';

:root{
    font-family: 'Lato';
    font-size: 20px; 
    color: var(--color-text-light);
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    background: var(--color-background-light);
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto 50px auto;
    min-height: 100vh;
    position: relative;
}

.container__innerContainer{
    margin: 0 2rem;
}

.page-header{
    margin: 0 0 20px;
}

.pageHeader{
    font-size: 2.5em;
    text-align: center;
}

.pageHeader-medium{
    font-size: 2em;
}

@media(max-width: 450px){
    .container__innerContainer{
        margin: 0 0.5rem;
    }
}