:root {
    --color-btn-border-dark: black;
    --color-btn-border-light: white;
    
    --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
    --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 10%);
    
    --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 70%);
    --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 80%);

    --color-btn-danger-text: black;
    --color-btn-danger-text-dark: black;
    
    --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 83%);
    --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
}

.btn {
    border: 1px solid var(--color-btn-border);
    border-radius: 30px;
    padding: 10px 70px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 200px;
    font-family: "Gotham Rounded";
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-focus-black:focus {
    outline: none; 
    border-radius: 30px;
    box-shadow: 0px 0px 3px var(--color-btn-border-dark),
                0px 0px 2px var(--color-btn-border-dark),
                0px 0px 3px var(--color-btn-border-dark);
}

.btn-focus-white:focus {
    outline: none; 
    border-radius: 30px;
    box-shadow: 0px 0px 0px 2px var(--color-btn-border-light),
                0px 0px 0px 1px var(--color-btn-border-light),
                0px 0px 0px 2px var(--color-btn-border-light);
}

.btn-primary {
    transition: 0.3s;
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
    margin-left: 15px;
}

.btn-primary:hover {
    transition: 0s;
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
}

.btn__temporal__center{
    margin: 0 auto !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.btn-margin{
    margin: 40px;
}

.btn-danger {
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
    color: var(--color-btn-danger-text-dark);
    background-color: var(--color-btn-danger-background-dark);
}

.btn-row__companies{
    background: var(--color-background-light);
    margin-top: 20px;
    align-items: baseline; 
    border-radius: 20px;
}

.company-name{
    font-size: 26px;
    padding: 0 20px 0 20px;
    min-width: 310px;
}

.btn-row__marginBottom{
    margin-bottom: 50px;
}
@media(max-width: 1050px){
    .company-name{
        min-width: auto;
        text-align: center;
    }
    .company-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .btn-row__companies{
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .btn-primary{
        margin-left: 0;
    }
}

@media(max-width: 750px){
    .company-row{
        flex-direction: column;
        align-items: center;
    }

    .btn-row__companies{
        width: 100%;
    }

    .btn-row{
        flex-basis: 100%;
        flex-direction: column;
        align-items: center;
    }

    .btn__center{
        margin: 0 auto !important;
        justify-content: center;
    }

    
   

    /* .btn-center{
        margin: 0 auto;
    } */
}