:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

.header__title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header__title::first-line{
    color: #FAFA37;
}

.header__title-color{
    color: #53FA37;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header__nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style: none;
}

.header__nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}

.header__nav li a:hover,
.header__title:hover {
    color: white;
}

.header__nav .header__userName {
    border: 1px solid #fff;
    background: var(--color-background-light);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-left: 15px;
    color: #96FA37;
}

.header__nav .header__userName .user__name{
    color: orange;
}

.header__nav .header__hamburger {
    font-size: 30px;
    transition: 0.3s;
    margin-right: 30px;
    display: none;
    position: relative;
    transition: .3s;
}

@media(max-width: 1150px) {
    .header__nav ul {
        display: none;
    }

    .header__nav .header__userName {
        flex-basis: 100%;
        border: none;
        background: none;
        order: 4;
        margin: 0;
        padding-top: 30px;
        font-size: 25px;
    }

    .header__nav .header__hamburger {
        display: flex;
        order: 3;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: white;
        position: absolute;
        border-radius: 2px;
        transition: .3s;
        box-shadow: -6px 6px 4px rgb(0 0 0 / 30%);
        top: 50%;
        transform: translateY(-50%);
    }

    .bar::before {
        border-radius: 2px;
        content: "";
        width: 30px;
        height: 3px;
        background-color: white;
        top: -10px;
        position: absolute;
        transition: .3s;
        box-shadow: -6px 6px 4px rgb(0 0 0 / 30%);
    }

    .bar::after {
        border-radius: 2px;
        content: "";
        width: 30px;
        height: 3px;
        background-color: white;
        top: 10px;
        position: absolute;
        transition: .3s;
        box-shadow: -6px 6px 4px rgb(0 0 0 / 30%);
    }

    .bar.active {
        width: 0;
        top: 50%;
        transition: .1s;
    }
    
    .active::before {
        transform: rotate(45deg) scaleX(1.2);
        top: 0px;
    }
    
    .active::after {
        transform: rotate(-45deg) scaleX(1.2);
        top: 0px;
    }

    .header__nav ul.show {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        order: 3;
        margin-top: 20px;
    }

    .header__nav ul.show li {
        padding: 10px 0 10px 0;
    }

    .header__nav ul.show li a {
        padding: 5px 40px 5px 40px;
    }
}

@media(max-width: 450px) {
    .header__nav {
        justify-content: center;
        margin-top: 30px;
    }

    .header__nav .header__title {
        font-size: 14vw;
    }

    .header__nav .header__hamburger {
        flex-basis: 100%;
        justify-content: center;
        margin: 0;
        margin: 40px 0 0 0;
        font-size: 40px;
    }

    .header__nav ul.show li a {
        padding: 5px 10px 5px 10px;
    }
}